*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*shared style*/
.front-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.logo h2 {
    font-size: 45px;

    
}
/*main style*/
header {
    background-color: pink;
}

.btn {
    background-color: #30B868;
    border: none;
    padding: 16px 12px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

nav {
    width: 100%;
    max-width: 1536;
    border: 1px solid black;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px 16px 120px;
}
nav .menu {
    display: flex;
    list-style-type: none;
    gap: 100px;
    align-items: center;
}

nav .menu a {
    display: flex;
    font-size: 24px;
    color: black;
    text-decoration: none;
    align-items: center;
   
}